body{
	font-family: Sans-serif, serif;
}
header {
	text-align: center;
	border-top: 5px solid black;
	/* !!! will remove color, just using to verify spacing*/
	/*background-color: red;*/
	padding: 20px;
	margin-top:20px;
}
h1 {
	font-size: 40px;
	/*background-color: blue;*/
}
li {
	/*making header display inline block*/
	display: inline-block;
}
a{
	/*making link color of anchors black*/
	color: #000;
}

footer{ 
	font-size: 20px;
	/*will change color before submitting*/
	/*background-color: red;*/
	text-align: center;
	border-bottom: 5px solid black;
	padding: 40px;
}
.imgInLIst{
	margin: 20 auto;
}
.handfList {
	display: inline-block;
}
#profile{
	border-top: 3px solid #000;
	border-bottom: 3px solid #000	;
	width: 90%;
	margin: 0 auto;
}

#whatPage{
	text-decoration: none;
	font-style: italic;
}

.important {
	font-style: italic;
	font-weight: 600;
}
.