<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Landing Page</title>
  <link rel="stylesheet" href="./style.css">
</head>
<body>
  <div class="index-container">
  <h1>Home route made correctly</h1>
  <ul>
    <a href="http://localhost:3000/restaurants/" title=""><li>Search Restaurants</li></a>
    <a href="http://localhost:3000/rats/" title=""><li>Search Rats</li></a>
  </ul>
  </div>
</body>
</html>
