<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>First Contact</title>
  <link rel="stylesheet" href="">
</head>
<body>
  <h1>Something spooky, yet FBI related</h1>
  <h2>Instructions: </h2>
  <p>This is a query site for the latest sightings of UFOs</p>
  <p>To find something in that Database use the following:</p>
  <ul>
    <li>ALWAYS ADD '/?' before search</li>
    <li>To add another parameter add an ampersand '&'</li>
    <li>Properties:</li>
    <ul>
      <li>city</li>
      <li>state</li>
      <li>shape</li>
    </ul>
  </ul>
  <h1>Objects</h1>
    <% for ( let i = 0; i < sights.length; i++) { %>
      <ul>
        <li> <%= sights[i].city %>, <%= sights[i].state %> </li>
        <li> <%= sights[i].date %> </li>
      </ul>
    <% }%>
</body>
</html>
